<html>
  <head></head>
  <body>
    <form action="/albums" method="POST">
      <div>
        <label>Album Title: </label>
        <input type="text" name="title">
      </div>
      <div>
        <label>Release Year: </label>
        <input type="text" name="release_year">
      </div>
      <div>
        <label>Artist: </label>
        <select name="artist_id">
          <% @artists.each do |artist| %>
            <option value=<%= artist.id %>><%= artist.name %></option>
          <% end %>
        </select>
      </div>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>