<html>
  <head></head>
  <body>
    <h1>Music Library - Run by Duck Power</h1>
    <div>
      <a href="/albums">List of albums</a>
    </div>
    <div>
      <a href="/artists">List of artists</a>
    </div>
  </body>
</html>      
